basedb/CMakeCache.txt
basedb/CMakeFiles/
basedb/Makefile
basedb/cmake_install.cmake
basedb/install_manifest.txt
basedb/libbasedb.so
utils/vmutils/CMakeCache.txt
utils/vmutils/CMakeFiles/vmget.dir/C.includecache
utils/vmutils/CMakeFiles/vmget.dir/depend.internal
utils/vmutils/CMakeFiles/vmget.dir/vmget.c.o
utils/vmutils/CMakeFiles/vmset.dir/C.includecache
utils/vmutils/CMakeFiles/vmset.dir/depend.internal
utils/vmutils/CMakeFiles/vmset.dir/vmset.c.o
utils/vmutils/Makefile
utils/vmutils/cmake_install.cmake
utils/vmutils/install_manifest.txt
utils/vmutils/vmget
utils/vmutils/vmset
vmdb/CMakeCache.txt
vmdb/CMakeFiles/
vmdb/Makefile
vmdb/cmake_install.cmake
vmdb/install_manifest.txt
vmdb/libvmdb.so